<!DOCTYPE html>
<html>
<head>
	<title>Password Reset</title>
</head>
<body>
	<h1>Reset Your Password</h1>
	<form action="/password-help" method="POST">

		<label for="email">Email:</label>
		<input type="email" id="email" name="email" required><br><br>
		<input type="submit" value="Submit">
	</form>
	<p>Already have an account? <a href="/login">Log in here</a></p>
</body>
</html>